@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'Calibri Light', 'Calibri', 'Trebuchet MS', 'Arial', 'sans-serif';
  --font-heading: 'Verlag-Black', 'Calibri', 'Trebuchet MS', 'Arial', 'sans-serif'
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: var(--font-heading);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;

}

body {
  font-family: var(--font-body);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}